@import "header.css";

h1 {
  text-align: center;
}

.books {
    display: flex;
    flex-flow: row;
}

.book {
    padding: 1%;
    border: solid;
    margin: 1%;
    max-width: 225px;
    min-width: 225px;
}

.book > label {
    display: flex;
    flex-flow: column;
    align-items: center;
}

form {
  width: 500px;
  margin-left: 5%;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

li > label {
  /* Uniform size & alignment */
  display: inline-block;
  text-align: right;
}

li > input {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}

.discontinued {
  color: red;
}
