body {
    margin: 0;
}

.header-container {
    background-color: #555;
    width: 100%;
    margin: 0;
}

.header-container > header {
    display: flex;
    align-items: center;
}

.header-container > header > nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    width: 100%;
}

.header-container > header > nav > div {
    display: flex;
    flex-flow: row;
}

.header-container > header > nav > div > a {
    color: #FFF;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.btn-link {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #FFF;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

.error-banner {
    border: solid red;
    background-color: #ed6b61;
    text-align: center;
}
