@import "header.css";

.books {
    display: flex;
    flex-flow: row;
}

.book {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1%;
    border: solid;
    margin: 1%;
    max-width: 225px;
    min-width: 225px;

}
