@import "header.css";

.cart-books {
    display: flex;
    flex-flow: row;
}

.cart-book {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1%;
    border: solid;
    margin: 1%;
}

h1 {
    text-align: center;
}
