<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Look Inna Book{% endblock title %}</title>
    {% block head %}
    {% endblock head %}
</head>
<body>
    <div class="header-container">
        <header>
            <nav>
                {% block header %}
                    <div>
                        {% block home_nav %}
                        <a href="/">Home</a>
                        {% endblock home_nav %}
                    </div>
                    <div>
                        {% if customer %}
                            {% block customer_nav %}
                            <a href="/customer">Customer</a>
                            {% endblock customer_nav %}
                            {% block cart_nav %}
                            <a href="/customer/cart">
                                {% if cart_size > 0 %}
                                Cart ({{ cart_size }})
                                {% else %}
                                Cart
                                {% endif %}
                            </a>
                            {% endblock cart_nav %}
                            {% block order_nav %}
                            <a href="/order/view">Orders</a>
                            {% endblock order_nav %}
                            {% block logout_nav %}
                            <button class="btn-link" onclick="
                                            async function task() {
                                                await fetch(window.location.origin + '/account/logout',
                                                {
                                                method: 'POST',
                                                });

                                                window.location.replace(window.location.origin);
                                            }

                                            task();
                                             ">Logout</button>
                            {% endblock logout_nav %}
                        {% elif owner_logged_in %}
                            {% block reports_nav %}
                            <a href="/owner/reports/">View Reports</a>
                            {% endblock reports_nav %}
                            {% block book_management_nav %}
                            <a href="/owner/manage/view">Manage Books</a>
                            {% endblock book_management_nav %}
                            {% block create_pub_nav %}
                            <a href="/owner/create/publisher">Create Publisher</a>
                            {% endblock create_pub_nav %}
                            {% block logout_nav %}
                            <button class="btn-link" onclick="
                                            async function task() {
                                                await fetch(window.location.origin + '/account/logout',
                                                {
                                                method: 'POST',
                                                });

                                                window.location.replace(window.location.origin);
                                            }

                                            task();
                                             ">Logout</button>
                            {% endblock logout_nav %}
                        {% else %}
                            {% block owner_login_nav %}
                            <a href="/login/owner">Owner Login</a>
                            {% endblock owner_login_nav %}
                            {% block login_nav %}
                            <a href="/login">Login</a>
                            {% endblock login_nav %}
                            {% block register_nav %}
                            <a href="/register">Register</a>
                            {% endblock register_nav %}
                        {% endif %}
                    </div>
                {% endblock header %}
            </nav>
        </header>
    </div>
    {% block error %}{% endblock error %}
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        {% block footer %}
        {% endblock footer %}
    </div>
</body>
</html>
