<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Look Inna Book{% endblock title %}</title>
    {% block head %}
    {% endblock head %}
</head>
<body>
    <div class="header-container">
        <header>
            <nav>
            {% block header %}{% endblock header %}
            </nav>
        </header>
    </div>
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        {% block footer %}
        {% endblock footer %}
    </div>
</body>
</html>
