{% extends "base" %}

{% block head %}
    <link rel="stylesheet" href="style/customer.css" />
{% endblock head %}

{% block customer_nav %}
{% endblock customer_nav %}

{% block content %}

<h1>Customer Profile</h1>

<p>Name: {{ customer.name }}</p>
<p>Email: {{ customer.email }}</p>

{% endblock content %}
