{% extends "base" %}

{% block head %}
<link rel="stylesheet" href="style/header.css" />
{% endblock head %}

{% block header %}
<a href="/login">Login</a>
<a href="/register">Register</a>
{% endblock header %}

{% block content %}

<ul>
{% for book in books %}
<li>
    <a href="/book/{{book.isbn}}">{{book.title}}</a>
</li>
{% endfor %}
</ul>

{% endblock content %}
